.Base {
  display: block;
  margin: auto;
  max-width: 414px;
  height: 100%;
  background: #FFFFFF;
  position: relative;
  overflow: hidden;
  /* make it fullscreen */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
}

.Base-header {
  background: white;
  padding: 62px 4px 22px;
}

.Base-header-container {
  margin: auto;
  display: flex;
  align-items: center;
}

.Base-header > * {
  flex-shrink: 1;
}

.Base-header a {
  line-height: 16px;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.Base-header a img {
  vertical-align: top;
}

.Base-header .logo {
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 10px;
  color: #000000;
  flex-basis: 100%;
  justify-content: center;
}

.Base-header .menu-icon {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.Base-header .menu-icon + .menu-icon {
  margin-left: 20px;
}
