html, body, #root {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Muli', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
  background: #ffffff;
}

h1, h2, h3, h4, h5, p {
  margin-bottom: 10px;
}

h1 {
  font-size: 2.250em; /* 36px */
  font-weight: 700;
  line-height: 1.4em;
}

h2 {
  font-size: 1.500em; /* 24px */
  font-weight: 700;
  line-height: 1.4em;
}

h3 {
  font-size: 1.125em; /* 18px */
  font-weight: 700;
}

h4 {
  font-size: 1em;
}

h5, p {
  font-size: 0.875em; /* 14px */
}

.container,
.container-wide {
  max-width: calc(100% - 24px);
  margin: auto;
}

.SubHeader {
  font-size: 16px;
  font-weight: normal;
  color: #000000;
  margin-top: 20px;
  margin-bottom: 18px;
}

#MainScroll {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

/* Misc */
.img-responsive {
  display: block;
  max-width: 100%;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.delay-1s {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.animated.delay-2s {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.animated.infinite {
  animation-iteration-count: infinite;
}

@media (prefers-reduced-motion) {
  .animated {
    -webkit-animation: unset !important;
    animation: unset !important;
    -webkit-transition: none !important;
    transition: none !important;
  }
}
