.ProductGrid {
  color: #000000;
  text-decoration: none;
  position: relative;
}

.ProductGrid-thumbnail {
  background-size: cover;
  background-position: 50% 50%;
  width: 100%;
  height: 250px;
}

.ProductGrid-thumbnail.is-wtop {
}
.ProductGrid-thumbnail.is-wpants {
}
.ProductGrid-thumbnail.is-wshoes {
  height: 300px;
}

.ProductGrid-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 8px 8px 10px 8px;
}

.ProductGrid-detail h5 {
  /* 18px */
  font-size: 1.125em;
  font-weight: 300;
  line-height: 18px;
  color: #212121;
  text-transform: uppercase;
  overflow: hidden;
  margin-bottom: 20px;
}

.ProductGrid-originalPrice {
  /* 14px */
  font-size: 0.875em;
  font-weight: 300;
  margin-bottom: 20px;
}

.ProductGrid-price {
  /* 24px */
  font-size: 1.5em;
  font-weight: 600;
  color: #6200EE;
}

.ProductGrid-price.sale {
  vertical-align: top;
}

.ProductGrid .LikeButton {
  position: absolute;
  top: 5px;
  left: 5px;
}

/* misc */
.ProductGrid-noImage {
  width: 100%;
  height: 145px;
  border: 1px solid #000000;
}

@media (min-width: 1025px) {
  .ProductGrid-detail {
    padding: 30px 30px 15px;
  }
}
