.DesignFilters {
  background: #EAEAEA;
  padding: 10px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  max-width: 127px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.DesignFilters label {
  font-size: 14px;
  line-height: #000000;
}

/* override material-ui switch */
.DesignFilters [class*="MuiFormControlLabel-root"] {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
