.FilterPanel {
  background: #FFFFFF;
  max-width: 414px;
  padding: 10px 10px 15px;
  position: fixed;
  right: 0;
  left: 0;
  bottom: -1px;
  margin: auto;
  box-sizing: border-box;
  z-index: 999;
}

.FilterPanel .VisualFilter {
  vertical-align: top;
}

.FilterPanel-close {
  background: #9B9B9B;
  padding: 5px;
  position: absolute;
  top: 0;
  right: 0;
}

.FilterPanel-close > img {
  vertical-align: top;
}

.FilterPanel #tap_button {
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-name: flashingTabButton;
  animation-iteration-count: infinite;
}

.FilterPanel .FabricFilters {
  font-size: 3.2vw;
  width: calc(100% - 100px);
  justify-content: flex-start;
  position: absolute;
  left: 10px;
  bottom: 15px;
}

.FilterPanel .FilterButton-icon {
  max-width: 25px;
  max-height: 25px;
  width: 5.5vw;
  height: 5.5vw;
}

@media (min-width: 415px) {
  .FilterPanel .FabricFilters {
    font-size: inherit;
  }
}

@keyframes flashingTabButton {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}
