.FloatButton {
  width: 35.745vw;
  height: 35.745vw;
  max-width: 148px;
  max-height: 148px;
  background: #FB9F84;
  padding-top: 15px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  box-shadow: 2px 3px 6px 1px #000000;
  position: absolute;
  right: 10px;
  bottom: 30px;
  z-index: 99;
}

.FloatButton > svg {
  position: relative;
  z-index: 2;
}

/* since svg can't have shadow */
.FloatButton.withShadow.svgLoaded:not(.unstyled-exiting):not(.unstyled-exited):before {
  content: '';
  width: 20px;
  height: 20px;
  box-shadow: 0px 5px 24px 10px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 5px 24px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 5px 24px 10px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0px 5px 24px 10px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  z-index: 1;
}
