.FloatButton {
  width: 134px;
  height: 134px;
  background: #FB9F84;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  box-shadow: 2px 3px 6px 1px #000000;
  position: absolute;
  right: 10px;
  bottom: 30px;
  z-index: 99;
}
