.ProductsVisualFilter {
  animation-name: bounceInUp;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999999;

  &.is-hidden {
    display: none;
  }

  &-backdrop {
    width: 100vw;
    height: 100vh;
    opacity: 0.2;
    background-color: #06000e;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    display: none;

    .expanded > & {
      display: block;
    }
  }

  &-header {
    background: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 12px 20px;
  }

  &-close {
    & > img {
      vertical-align: top;
    }
  }

  &.allowHide.pullDown {
    animation-name: bounceOutDown;
  }

  &-panelWrapper,
  .FloatButton {
    animation-duration: 500ms!important;
  }

  &.onboarding {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 99;

    &:not(.expanded) {
      &:before,
      &:after {
        content: '';
        display: inline-block;
        width: 35.745vw;
        height: 35.745vw;
        max-width: 148px;
        max-height: 148px;
        background: rgba(1, 1, 252, 1);
        border-radius: 100%;
        -webkit-box-shadow: 0 0 0 0 rgba(1, 1, 252, 1);
        -moz-box-shadow: 0 0 0 0 rgba(1, 1, 252, 1);
        box-shadow: 0 0 0 0 rgba(1, 1, 252, 1);
        position: absolute;
        right: 10px;
        bottom: 30px;
        animation-duration: 3s;
        animation-fill-mode: both;
        animation-name: pulseFilter;
        animation-iteration-count: infinite;
      }
  
      &:after {
        -webkit-animation-delay: .5s;
        -moz-animation-delay: .5s;
        -o-animation-delay: .5s;
        animation-delay: .5s;
      }
    }
  }
}

/* onboarding */
@keyframes pulseFilter {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(1, 1, 252, 0);
    -moz-box-shadow: 0 0 0 0 rgba(1, 1, 252, 0);
    box-shadow: 0 0 0 0 rgba(1, 1, 252, 0);
  }
  50% {
    -webkit-box-shadow: 0 0 0 220px rgba(1, 1, 252, 0.5);
    -moz-box-shadow: 0 0 0 220px rgba(1, 1, 252, 0.5);
    box-shadow: 0 0 0 220px rgba(1, 1, 252, 0.5);
  }
  100% {
    -webkit-box-shadow: 0 0 0 220px rgba(1, 1, 252, 0);
    -moz-box-shadow: 0 0 0 220px rgba(1, 1, 252, 0);
    box-shadow: 0 0 0 220px rgba(1, 1, 252, 0);
  }
}

@-webkit-keyframes pulseFilter {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(1, 1, 252, 0);
    -moz-box-shadow: 0 0 0 0 rgba(1, 1, 252, 0);
    box-shadow: 0 0 0 0 rgba(1, 1, 252, 0);
  }
  50% {
    -webkit-box-shadow: 0 0 0 220px rgba(1, 1, 252, 0.5);
    -moz-box-shadow: 0 0 0 220px rgba(1, 1, 252, 0.5);
    box-shadow: 0 0 0 220px rgba(1, 1, 252, 0.5);
  }
  100% {
    -webkit-box-shadow: 0 0 0 220px rgba(1, 1, 252, 0);
    -moz-box-shadow: 0 0 0 220px rgba(1, 1, 252, 0);
    box-shadow: 0 0 0 220px rgba(1, 1, 252, 0);
  }
}
