.Preset {
  background: white;
  width: 100%;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-template-areas:
  "title title"
  "svg filter";
  grid-gap: 10px 20px;
  padding: 10px 20px 15px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.Preset h2 {
  font-weight: 300;
  color: #9B9B9B;
}

.Preset-svg {
  grid-area: svg;
  position: relative;
}

.Preset-svg svg {
  height: 150px;
  margin: auto;
}

.Preset-svg .LikeButton {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}

.Preset-svg .LikeButton > button {
  width: 30px;
  height: 30px;
}

.Preset .Preset-filter {
  grid-area: filter;
}
