.TutorialItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000000;
    cursor: default;
    flex-direction: column;

    .SlideImage.has-multiple-images {
        width: 280px;
        height: 300px;
        text-align: center;
        img {
            max-width: 100%;
        }
    }
    h2 {
        font-size: 64px;
        font-weight: 700;
        color: inherit;
    }

    p.TutorialItem-subtitle {
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 1.1px;
        text-align: center;
        color: #1b1b1d;
        margin: 0;
        margin-top: 54px;
        max-width: 331px;
        display: inline-block;
    }

    &-content {
        width: 580px;
        max-width: 100%;
        text-align: center;
    }

    &-primaryButton,
    &-secondaryButton {
        width: 314px;
        max-width: 100%;
        display: inline-block;
        font-size: 16px;
        font-weight: 900;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 1.1px;
        text-align: center;
        color: #1b1b1d;
        border: solid 3px #1b1b1d;
        background: transparent;
        height: 40px;
        margin-bottom: 30px;
        &:disabled {
            color: #AFAFAF;
            border: 1px solid #AFAFAF;
        }
    }
    &-primaryButton {
      border: none;
    }
}