/* fadeIn */
.fadeIn-entering {
  opacity: 0;
}

.fadeIn-entered {
  animation-name: fadeIn;
}

.fadeIn-exiting {
  animation-name: fadeOut;
}

/* fadeInUp */
.fadeInUp-entering {
  opacity: 0;
}

.fadeInUp-entered {
  animation-name: fadeInUp;
}
