.Tutorial {
  background: #6200EE;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
}

.Tutorial .ProductFilter {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.Tutorial .ProductFilter .FilterPanel {
  pointer-events: none;
}

.Tutorial .Button:hover {
  background: rgba(255, 255, 255, 0.7)!important;
}
