.Base {
  display: block;
  margin: auto;
  height: 100%;
  background: #F6F4F5;
  position: relative;
  overflow: hidden;
  /* make it fullscreen */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.Base-header {
  background: white;
  position: relative;
  z-index: 9;
  padding: 21px 25px;
}

.Base-headerContainer {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Base-header > .Base-headerContainer > * {
  flex-shrink: 1;
}

.Base-rightNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Base-header a {
  line-height: 16px;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.Base-header a img {
  vertical-align: top;
}

.Base-header .logo {
  font-size: 24px;
  color: #000000;
}

.Base-header .menu-icon > img {
  width: 25px;
}

.Base-header .menu-icon + .menu-icon {
  margin-left: 40px;
}
