.Button {
  font-size: 1.125em; /* 18px */
  color: white;
  text-align: center;
  text-decoration: none;
  background: #6200EE;
  display: block;
  width: 254px;
  max-width: 100%;
  padding: 10px;
  margin: auto;
  outline: none;
}

.Button:hover {
  background: rgba(61, 61, 61, 0.8);
}

/* style */
.Button.transparent {
  background: none;
  color: #000000;
  border: 1px solid #707070;
}

.Button.transparent:focus {
  background: #70707050;
}

/* size */
.Button.small {
  font-size: 10px;
  padding: 5px;
}

/* shape */
.Button.default {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

.Button.rounded {
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}
