.Button {
  font-size: 1.125em; /* 18px */
  color: white;
  text-align: center;
  text-decoration: none;
  background: #3D3D3D;
  display: block;
  width: 254px;
  max-width: 100%;
  padding: 10px;
  margin: auto;
}

.Button:hover {
  background: rgba(61, 61, 61, 0.8);
}

/* shape */
.Button.default {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

.Button.rounded {
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}
