.ColorButton {
  display: inline-block;
  background: transparent;
  width: 28px;
  height: 28px;
  padding: 0;
  margin: auto;
  outline: none;
  vertical-align: top;
 
  border: none;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;

  box-shadow: 0 0 0 0 rgba(61, 61, 61, 0.7);
  -webkit-box-shadow: 0 0 0 0 rgba(61, 61, 61, 0.7);
  -moz-box-shadow: 0 0 0 0 rgba(61, 61, 61, 0.7);
  -o-box-shadow: 0 0 0 0 rgba(61, 61, 61, 0.7);

  transition: all 0.1s ease-in;
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  cursor: pointer;
}

.ColorButton:focus:not(:active) {
  -webkit-animation: buttonPulse 0.5s cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: buttonPulse 0.5s cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: buttonPulse 0.5s cubic-bezier(0.66, 0, 0, 1);
  animation: buttonPulse 0.5s cubic-bezier(0.66, 0, 0, 1);
}

.ColorButton.active {
  border: 1px solid #3D3D3D;
  box-shadow: 0 0 0 3px white inset;
  -webkit-box-shadow: 0 0 0 3px white inset;
  -moz-box-shadow: 0 0 0 3px white inset;
  -o-box-shadow: 0 0 0 3px white inset;
}
