[Unit]
Description=uWSGI instance to serve alpha2
After=network.target

[Service]
User=sjcho
Group=www-data
WorkingDirectory=/home/sjcho/yesplz/webapp
Environment="PATH=/home/sjcho/anaconda3/envs/yp/bin"
ExecStart=/home/sjcho/anaconda3/envs/yp/bin/uwsgi --ini alpha2.ini

[Install]
WantedBy=multi-user.target

