.Product {
  background: white;
  width: 100%;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-template-areas:
  "images detail"
  "footer footer";
  grid-gap: 20px 30px;
  padding: 15px 30px 30px;
  box-sizing: border-box;
  position: relative;
  max-height: 316px;
}

.Product .LikeButton {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 2;
}

.Product .LikeButton > button {
  width: 30px;
  height: 30px;
}

.Product-pricing {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.Product-original-price {
  text-decoration: line-through;
  margin-right: 10px;
}

.Product-price.sale {
  color: #D0021B;
}

.Product-images {
  grid-area: images;
  height: 215px;
  overflow-y: hidden;
}

.Product .Product-images > .slick-slider {
  max-width: 128px;
  margin: auto;
}
.Product .Product-images > .slick-slider .slick-dots > li {
  display: inline-block;
  width: auto;
  height: auto;
  margin: 2px;
  vertical-align: top;
}
.Product .Product-images > .slick-slider .slick-dots > li > button {
  width: auto;
  height: auto;
  padding: 0px;
  vertical-align: top;
}
.Product .Product-images > .slick-slider .slick-dots > li > button::before {
  content: '';
  display: inline-block;
  background: transparent;
  width: 8px;
  height: 8px;
  border: 1px solid #707070;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  box-sizing: border-box;
  position: static;
}
.Product .Product-images > .slick-slider .slick-dots > li.slick-active > button::before {
  background: #3D3D3D;
  border-color: #3D3D3D;
}

.Product .Product-images > .slick-slider .slick-prev:before,
.Product .Product-images > .slick-slider .slick-next:before {
  content: '';
  background: url('../../../src/assets/svg/angle.svg') center center no-repeat;
  background-size: 100%;
  display: inline-block;
  width: 16px;
  height: 10px;
}

.Product .Product-images > .slick-slider .slick-prev:before {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}

.Product .Product-images > .slick-slider .slick-next:before {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

.Product-images img {
  width: 128px;
}

.Product-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 160px;
  grid-area: detail;
}

.Product-detail h4 {
  margin-bottom: 0px;
}

.Product-detail > p {
  max-height: 70px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  /* autoprefixer: on */
}

.Product-footer {
  grid-area: footer;
}

.Product-placeholder {
  grid-template-areas: "images detail";
}
