.ProductGrid {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  background: white;
  color: #000000;
  text-decoration: none;
  position: relative;
}

.ProductGrid-thumbnail {
  width: 100%;
  min-height: 25px;
  padding-left: 15px;
  padding-right: 15px;
}

.ProductGrid-detail {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 8px 8px 10px 8px;
}

.ProductGrid-detail h5,
.ProductGrid-price,
.ProductGrid-original-price {
  font-size: 0.875em; /* 14px */
}

.ProductGrid-detail h5 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 60px;
  margin-bottom: 0px;
}

.ProductGrid-price-tag > * {
  display: inline;
  margin-left: 3px;
}

.ProductGrid-original-price {
  text-decoration: line-through;
}

.ProductGrid-price.sale {
  color: #D0021B;
  vertical-align: top;
}

.ProductGrid .LikeButton {
  position: absolute;
  top: 4px;
  left: 4px;
}

/* misc */
.ProductGrid-noImage {
  width: 100%;
  height: 145px;
  border: 1px solid #000000;
}
