.Home {
  height: calc(100% - 78px);
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.Home .ProductGrid-detail h5 {
  width: 85px;
}

/* Recommended-products */
.Recommended-products .ProductGrid {
  width: calc(33.3333% - 20px);
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  order: 1;
}

.Recommended-products .ProductList-wrapper {
  margin-left: -10px;
  margin-right: -10px;
}

.Recommended-products .ProductGrid-thumbnail {
  max-width: 250px;
  margin: auto;
}

.Recommended-products .ProductGrid-thumbnail .img-responsive {
  width: 100%;
}

.Recommended-products .ProductGrid-detail {
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.87);
  padding: 10px 30px 15px;
}

.Recommended-products .ProductGrid-detail h5,
.Recommended-products .ProductGrid-price,
.Recommended-products .ProductGrid-original-price {
  font-size: inherit;
  line-height: inherit;
}

.Recommended-products .ProductGrid .LikeButton {
  top: 15px;
  left: 30px;
}

.Recommended-products .LikeButton > button {
  width: 30px;
  height: 30px;
}

.Recommended-products .ProductGrid:nth-child(1),
.Recommended-products .ProductGrid:nth-child(2) {
  width: calc(50% - 20px);
}

.Recommended-products .ProductGrid:nth-child(1) .ProductGrid-thumbnail,
.Recommended-products .ProductGrid:nth-child(2) .ProductGrid-thumbnail {
  max-width: 300px;
  margin: auto;
}

.Recommended-products .ProductGrid:nth-child(1) .LikeButton > button,
.Recommended-products .ProductGrid:nth-child(2) .LikeButton > button {
  width: 40px;
  height: 40px;
}

/* AdvancedPreset */
.AdvancedPreset {
  display: flex;
  margin-top: 110px;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: 20px;
  position: relative;
}

.AdvancedPreset .Preset {
  width: 450px;
  flex-basis: 450px;
  flex-shrink: 0;
  flex-grow: 0;
  margin-left: 10px;
  margin-right: 10px;
}

.AdvancedPreset .Preset h2 {
  font-size: 36px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.87);
  position: absolute;
  bottom: calc(100% + 10px);
}

.AdvancedPreset .PresetMatches {
  flex-basis: calc(100% - 450px - 20px);
  flex-shrink: 0;
  flex-grow: 0;
}

.AdvancedPreset .Preset-svg > svg {
  max-width: 100%;
  height: 232px;
}

.PresetMatches .ProductGrid {
  width: calc(33.333% - 20px);
  margin-left: 10px;
  margin-right: 10px;
  border: 0;
}

.PresetMatches .ProductGrid .ProductGrid-thumbnail {
  width: 180px;
  padding-left: 0;
  padding-right: 0;
  margin: auto;
}

.PresetMatches .ProductGrid .ProductGrid-thumbnail .img-responsive {
  width: 100%;
}

.PresetMatches .ProductGrid-detail {
  font-size: 22px;
  line-height: 22px;
  padding: 10px 20px 20px;
}

.PresetMatches .ProductGrid-detail h5,
.PresetMatches .ProductGrid-price,
.PresetMatches .ProductGrid-original-price {
  font-size: inherit;
  line-height: inherit;
}

.PresetMatches .PresetLink {
  width: calc(33.333% - 20px);
  right: 10px;
}
