/* override mobile module settings */
.Base {
  background: white;
}

/* buttons */
.FilterButton {
  cursor: pointer;
}

/* product list */
.ProductList-subtitle {
  font-size: 24px;
  text-align: left;
  padding-top: 40px;
  padding-bottom: 36px;
  margin-left: 5px;
  margin-right: 5px;
}

/* info banner */
.InfoBanner {
  text-align: center;
}

.InfoBanner h1,
.InfoBanner h2,
.InfoBanner h3,
.InfoBanner h4,
.InfoBanner h5 {
  margin-bottom: 5px;
}

.InfoBanner p {
  font-size: 1.875em;
  font-weight: 200;
}

/* Tutorials */
.Tutorial-wrapper {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
}

.Tutorial {
  max-width: 947px;
  background: #6200EE;
  margin: auto;
}

.Tutorial .TutorialPage {
  margin: 0px 0px 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* justify-content: space-between; */
  max-height: 700px;
  padding: 0px 40px;
}

.Tutorial .TutorialPage h2 {
  max-width: 300px;
}

.ProductFilterWrapper,
.Tutorial .ProductFilter,
.Tutorial .ProductFilter .FloatButton {
  position: absolute!important;
}

.Tutorial .ProductFilter .FloatButton {
  right: 29.3%;
}

.TutorialNavigation {
  /* position: static;*/
  background: none;
  align-self: flex-end;
  /* z-index: 100; */
  margin-bottom: 20px;
  height: 65px;
}

.TutorialNavigation .Button {
  font-size: 1.250em;
  color: #ffffff;
  cursor: pointer;
}

.TutorialNavigation .Button > svg {
  fill: #ffffff;
}

.TutorialNavigation .ButtonPrimary {
  color: #6200EE;
  background: white;
}

.TutorialNavigation .ButtonSecondary {
  border: 1px solid #9B9B9B;
}

.TutorialNavigation.Skip {
  /* justify-content: flex-end!important; */
  /* position: fixed; */
  align-self: flex-end;
  width: 100%;
  padding: 10px 80px;
}

.TutorialBodypartFilter {
  max-width: 530px;
  margin-top: -20px!important;
}

.TutorialPage .ProductFilter {
  margin-bottom: 10px;
}

.TutorialPage .FilterPanel > svg {
  width: 350px;
}

.TutorialPage .FilterPanel-close {
  display: none;
}

.TutorialPage .SecondaryFilters {
  position: static;
  width: 100%;
}

.TutorialPage .zoomFilter > .ProductFilter .FilterPanel {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: tutorialFilterPanelZoom;
  opacity: 1;
}

/* filter keyframes */
@keyframes tutorialFilterPanelZoom {
  0% {
    transform: scale(1) translate(0,0);
  }

  100% {
    transform: scale(1.15) translate(2.5%, -14.5%);
  }
}

.ProductFilter .FloatButton.unstyled-exiting > svg {
  animation-name: floatExit;
}

.ProductFilter .FloatButton.unstyled-exited {
  opacity: 0;
}

/* filter keyframes */
@keyframes floatExit {
  0% {
    transform: scale(1) translate(0,0);
  }

  100% {
    transform: scale(2.35) translate(-37%, -48.2%);
  }
}

/* Breadcrumbs */

.BreadCrumbs > .container {
  display: flex;
  width: calc(100% - 30px);
}

/* ProductGrid */

.ProductGrid-thumbnail {
  height: 400px;
}
