.BreadCrumbs {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
  background: transparent;
  padding: 18px 22px 20px;
  display: flex;
  align-items: center;
}

.BreadCrumbs > .container {
  display: flex;
  align-items: center;
}

.BreadCrumbs > *,
.BreadCrumbs > .container > * {
  font-size: inherit;
  line-height: 16px;
  color: inherit;
  text-decoration: none;
}

.BreadCrumbs > *:not(:last-child):after,
.BreadCrumbs > .container > *:not(:last-child):after {
  content: '>';
  margin-left: 7px;
  margin-right: 7px;
}

.BreadCrumbs .current {
  color: rgba(0, 0, 0, 0.87);
}
