.BreadCrumbs {
  font-size: 16px;
  color: white;
  background: #6200EE;
  padding: 18px 22px 20px;
  display: flex;
  align-items: center;
}

.BreadCrumbs > * {
  font-size: inherit;
  line-height: 18px;
  color: white;
  text-decoration: none;
}

.BreadCrumbs > *:not(:last-child):after {
  content: '>';
  margin-left: 7px;
  margin-right: 7px;
}

.BreadCrumbs .current {
  font-size: 1.125em; /* 18/16 */
  font-weight: bold;
}
