.InfoBanner {
  font-size: 16px;
  color: white;
  background: #6200EE;
  padding: 15px 25px 12px;
}

.InfoBanner h1,
.InfoBanner h2,
.InfoBanner h3,
.InfoBanner h4 {
  color: white;
}

.InfoBanner h5,
.InfoBanner p {
  font-size: inherit;
}

.InfoBanner h5 {
  font-weight: bold;
  margin-bottom: 5px;
}

.InfoBanner p {
  margin-bottom: 0;
}

.InfoBanner strong.bigger {
  font-size: 1.125em; /* 18/16 */
}
